<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data | si_rolsDataFilter : filterQuery' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th style='width: 20%'></th>
                            <th style='width: 80%'>
                                <mfDefaultSorter by='nombre'>Nombre</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.nombre  }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
