<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Editar Folios</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Folios">
            <div class="form-group row" [ngClass]="{'has-error': (!fechaAC.valid && fechaAC.touched), 'has-success': (fechaAC.valid && fechaAC.touched)}">
              <label for="inputfechaAC" class="col-sm-3 form-control-label">Fecha</label>
              <div class="col-sm-9">
                <input [(ngModel)]="fecha" [formControl]="fechaAC" type="date"  class="form-control" id="inputfechaAC" placeholder="Fecha" >
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
