<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Editar Vehículos Reparando</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Vehículos Reparando">
            <div class="form-group row" [ngClass]="{'has-error': (!fechaIngresaAC.valid && fechaIngresaAC.touched), 'has-success': (fechaIngresaAC.valid && fechaIngresaAC.touched)}">
              <label for="inputfechaIngresaAC" class="col-sm-3 form-control-label">Fecha Ingreso</label>
              <div class="col-sm-9">
                <input [(ngModel)]="fechaIngresa" [formControl]="fechaIngresaAC" type="date"  class="form-control" id="inputfechaIngresaAC" placeholder="Fecha Ingreso" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!fechaSalidaAC.valid && fechaSalidaAC.touched), 'has-success': (fechaSalidaAC.valid && fechaSalidaAC.touched)}">
              <label for="inputfechaSalidaAC" class="col-sm-3 form-control-label">Fecha Salida</label>
              <div class="col-sm-9">
                <input [(ngModel)]="fechaSalida" [formControl]="fechaSalidaAC" type="date"  class="form-control" id="inputfechaSalidaAC" placeholder="Fecha Salida" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!fechaEstimadaAC.valid && fechaEstimadaAC.touched), 'has-success': (fechaEstimadaAC.valid && fechaEstimadaAC.touched)}">
              <label for="inputfechaEstimadaAC" class="col-sm-3 form-control-label">Fecha Estimada</label>
              <div class="col-sm-9">
                <input [(ngModel)]="fechaEstimada" [formControl]="fechaEstimadaAC" type="date"  class="form-control" id="inputfechaEstimadaAC" placeholder="Fecha Estimada" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!inventarioAC.valid && inventarioAC.touched), 'has-success': (inventarioAC.valid && inventarioAC.touched)}">
              <label for="inputinventarioAC" class="col-sm-3 form-control-label">Inventario</label>
              <div class="col-sm-9">
                <input [(ngModel)]="inventario" [formControl]="inventarioAC" type="text" maxlength='80' class="form-control" id="inputinventarioAC" placeholder="Inventario" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!motivoAC.valid && motivoAC.touched), 'has-success': (motivoAC.valid && motivoAC.touched)}">
              <label for="inputmotivoAC" class="col-sm-3 form-control-label">Motivo</label>
              <div class="col-sm-9">
                <input [(ngModel)]="motivo" [formControl]="motivoAC" type="text" maxlength='80' class="form-control" id="inputmotivoAC" placeholder="Motivo" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!statusAC.valid && statusAC.touched), 'has-success': (statusAC.valid && statusAC.touched)}">
              <label for="inputstatusAC" class="col-sm-3 form-control-label">Status</label>
              <div class="col-sm-9">
                <input [(ngModel)]="status" [formControl]="statusAC" type="text" maxlength='25' class="form-control" id="inputstatusAC" placeholder="Status" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!ordenAC.valid && ordenAC.touched), 'has-success': (ordenAC.valid && ordenAC.touched)}">
              <label for="inputordenAC" class="col-sm-3 form-control-label">Orden</label>
              <div class="col-sm-9">
                <input [(ngModel)]="orden" [formControl]="ordenAC" type="text" maxlength='45' class="form-control" id="inputordenAC" placeholder="Orden" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!enviotaller_idenviotallerAC.valid && enviotaller_idenviotallerAC.touched), 'has-success': (enviotaller_idenviotallerAC.valid && enviotaller_idenviotallerAC.touched)}">
              <label for="inputenviotaller_idenviotallerAC" class="col-sm-3 form-control-label">Envio Taller</label>
              <div class="col-sm-7">
               <select [(ngModel)]="enviotaller_idenviotaller" [formControl]="enviotaller_idenviotallerAC" class="form-control" id="inputenviotaller_idenviotallerAC" >
                 <option value="{{item.idenviotaller}}" *ngFor="let item of _enviotaller">{{item.motivo}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='enviotallerAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!taller_idtallerAC.valid && taller_idtallerAC.touched), 'has-success': (taller_idtallerAC.valid && taller_idtallerAC.touched)}">
              <label for="inputtaller_idtallerAC" class="col-sm-3 form-control-label">Taller</label>
              <div class="col-sm-7">
               <select [(ngModel)]="taller_idtaller" [formControl]="taller_idtallerAC" class="form-control" id="inputtaller_idtallerAC" required>
                 <option value="{{item.idtaller}}" *ngFor="let item of _taller">{{item.nombre}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='tallerAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!mecanico_idmecanicoAC.valid && mecanico_idmecanicoAC.touched), 'has-success': (mecanico_idmecanicoAC.valid && mecanico_idmecanicoAC.touched)}">
              <label for="inputmecanico_idmecanicoAC" class="col-sm-3 form-control-label">Mecánico</label>
              <div class="col-sm-7">
               <select [(ngModel)]="mecanico_idmecanico" [formControl]="mecanico_idmecanicoAC" class="form-control" id="inputmecanico_idmecanicoAC" required>
                 <option value="{{item.idmecanico}}" *ngFor="let item of _mecanico">{{item.persona_persona_idpersona}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='mecanicoAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!permisotaxiasignado_idpermisotaxiasignadoAC.valid && permisotaxiasignado_idpermisotaxiasignadoAC.touched), 'has-success': (permisotaxiasignado_idpermisotaxiasignadoAC.valid && permisotaxiasignado_idpermisotaxiasignadoAC.touched)}">
              <label for="inputpermisotaxiasignado_idpermisotaxiasignadoAC" class="col-sm-3 form-control-label">Permiso Taxi</label>
              <div class="col-sm-7">
               <select [(ngModel)]="permisotaxiasignado_idpermisotaxiasignado" [formControl]="permisotaxiasignado_idpermisotaxiasignadoAC" class="form-control" id="inputpermisotaxiasignado_idpermisotaxiasignadoAC" >
                 <option value="{{item.idpermisotaxiasignado}}" *ngFor="let item of _permisotaxiasignado">{{item.permisotaxi_permisotaxi_idpermisotaxi}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='permisotaxiasignadoAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
