<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Editar </h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información ">
            <div class="form-group row" [ngClass]="{'has-error': (!orden_idordenAC.valid && orden_idordenAC.touched), 'has-success': (orden_idordenAC.valid && orden_idordenAC.touched)}">
              <label for="inputorden_idordenAC" class="col-sm-3 form-control-label">Orden_idorden</label>
              <div class="col-sm-7">
               <select [(ngModel)]="orden_idorden" [formControl]="orden_idordenAC" class="form-control" id="inputorden_idordenAC" required>
                 <option value="{{item.idorden}}" *ngFor="let item of _orden">{{item.idorden}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='ordenAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!refaccion_idrefaccionAC.valid && refaccion_idrefaccionAC.touched), 'has-success': (refaccion_idrefaccionAC.valid && refaccion_idrefaccionAC.touched)}">
              <label for="inputrefaccion_idrefaccionAC" class="col-sm-3 form-control-label">Refaccion_idrefaccion</label>
              <div class="col-sm-7">
               <select [(ngModel)]="refaccion_idrefaccion" [formControl]="refaccion_idrefaccionAC" class="form-control" id="inputrefaccion_idrefaccionAC" required>
                 <option value="{{item.idrefaccion}}" *ngFor="let item of _refaccion">{{item.idrefaccion}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='refaccionAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!cantidadAC.valid && cantidadAC.touched), 'has-success': (cantidadAC.valid && cantidadAC.touched)}">
              <label for="inputcantidadAC" class="col-sm-3 form-control-label">Cantidad</label>
              <div class="col-sm-9">
                <input [(ngModel)]="cantidad" [formControl]="cantidadAC" type="number" maxlength='11' class="form-control" id="inputcantidadAC" placeholder="Cantidad" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!bajaAC.valid && bajaAC.touched), 'has-success': (bajaAC.valid && bajaAC.touched)}">
              <label for="inputbajaAC" class="col-sm-3 form-check-label">Baja</label>
              <div class="col-sm-9">
                <input [(ngModel)]="baja" [formControl]="bajaAC" type="checkbox" class="form-check-input" id="inputbajaAC">
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!created_byAC.valid && created_byAC.touched), 'has-success': (created_byAC.valid && created_byAC.touched)}">
              <label for="inputcreated_byAC" class="col-sm-3 form-control-label">Created_by</label>
              <div class="col-sm-9">
                <input [(ngModel)]="created_by" [formControl]="created_byAC" type="number" maxlength='11' class="form-control" id="inputcreated_byAC" placeholder="Created_by" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!created_atAC.valid && created_atAC.touched), 'has-success': (created_atAC.valid && created_atAC.touched)}">
              <label for="inputcreated_atAC" class="col-sm-3 form-control-label">Created_at</label>
              <div class="col-sm-9">
                <input [(ngModel)]="created_at" [formControl]="created_atAC" type="date"  class="form-control" id="inputcreated_atAC" placeholder="Created_at" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!modified_atAC.valid && modified_atAC.touched), 'has-success': (modified_atAC.valid && modified_atAC.touched)}">
              <label for="inputmodified_atAC" class="col-sm-3 form-control-label">Modified_at</label>
              <div class="col-sm-9">
                <input [(ngModel)]="modified_at" [formControl]="modified_atAC" type="date"  class="form-control" id="inputmodified_atAC" placeholder="Modified_at" >
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
