<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Permisos Taxi Asignados</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Permisos Taxi Asignados">
            <div class="form-group row" [ngClass]="{'has-error': (!statusAC.valid && statusAC.touched), 'has-success': (statusAC.valid && statusAC.touched)}">
              <label for="inputstatusAC" class="col-sm-3 form-control-label">Status</label>
              <div class="col-sm-9">
                <input [(ngModel)]="status" [formControl]="statusAC" type="text" maxlength='25' class="form-control" id="inputstatusAC" placeholder="Status" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!fechaAC.valid && fechaAC.touched), 'has-success': (fechaAC.valid && fechaAC.touched)}">
              <label for="inputfechaAC" class="col-sm-3 form-control-label">Fecha</label>
              <div class="col-sm-9">
                <input [(ngModel)]="fecha" [formControl]="fechaAC" type="date"  class="form-control" id="inputfechaAC" placeholder="Fecha" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!chofer_idchoferAC.valid && chofer_idchoferAC.touched), 'has-success': (chofer_idchoferAC.valid && chofer_idchoferAC.touched)}">
              <label for="inputchofer_idchoferAC" class="col-sm-3 form-control-label">Chofer</label>
              <div class="col-sm-7">
               <select [(ngModel)]="chofer_idchofer" [formControl]="chofer_idchoferAC" class="form-control" id="inputchofer_idchoferAC" required>
                 <option value="{{item.idchofer}}" *ngFor="let item of _chofer">{{item.persona_chofer}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='choferAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!vehiculo_idvehiculoAC.valid && vehiculo_idvehiculoAC.touched), 'has-success': (vehiculo_idvehiculoAC.valid && vehiculo_idvehiculoAC.touched)}">
              <label for="inputvehiculo_idvehiculoAC" class="col-sm-3 form-control-label">Vehículo</label>
              <div class="col-sm-7">
               <select [(ngModel)]="vehiculo_idvehiculo" [formControl]="vehiculo_idvehiculoAC" class="form-control" id="inputvehiculo_idvehiculoAC" required>
                 <option value="{{item.idvehiculo}}" *ngFor="let item of _vehiculo">{{item.placa}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='vehiculoAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!permisotaxi_idpermisotaxiAC.valid && permisotaxi_idpermisotaxiAC.touched), 'has-success': (permisotaxi_idpermisotaxiAC.valid && permisotaxi_idpermisotaxiAC.touched)}">
              <label for="inputpermisotaxi_idpermisotaxiAC" class="col-sm-3 form-control-label">Permiso Taxi</label>
              <div class="col-sm-7">
               <select [(ngModel)]="permisotaxi_idpermisotaxi" [formControl]="permisotaxi_idpermisotaxiAC" class="form-control" id="inputpermisotaxi_idpermisotaxiAC" required>
                 <option value="{{item.idpermisotaxi}}" *ngFor="let item of _permisotaxi">{{item.numero}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='permisotaxiAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
