<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data | personasDataFilter : filterQuery' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th colspan='7' class='text-left'>
                                Filtrar por Nombre:
                                <input class='form-control' [(ngModel)]='filterQuery' />
                            </th>
                        </tr>
                        <tr>
                            <th style='width: 20%'></th>
                            <th style='width: 13.333333333333%'>
                                <mfDefaultSorter by='nombre'>Nombre</mfDefaultSorter>
                            </th>
                            <th style='width: 13.333333333333%'>
                                <mfDefaultSorter by='edad'>Edad</mfDefaultSorter>
                            </th>
                            <th style='width: 13.333333333333%'>
                                <mfDefaultSorter by='sexo'>Sexo</mfDefaultSorter>
                            </th>
                            <th style='width: 13.333333333333%'>
                                <mfDefaultSorter by='rfc'>RFC</mfDefaultSorter>
                            </th>
                            <th style='width: 13.333333333333%'>
                                <mfDefaultSorter by='telefono'>Télefono</mfDefaultSorter>
                            </th>
                            <th style='width: 13.333333333333%'>
                                <mfDefaultSorter by='domicilio'>Domicilio</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.nombre  }}</td>
                            <td>{{ item.edad  }}</td>
                            <td>{{ item.sexo  }}</td>
                            <td>{{ item.rfc  }}</td>
                            <td>{{ item.telefono  }}</td>
                            <td>{{ item.domicilio  }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
