<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}} {{descripcion}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ba-card cardTitle="Carga de archivo" baCardClass="with-scroll">
      <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="fileUploaderOptions"  (onUploadCompleted)="uploadCompled($event)" ></ba-picture-uploader>
    </ba-card>
  </div>
  <div class="modal-footer">
  </div>
</div>
