<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data | chofersDataFilter : filterQuery' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th colspan='9' class='text-left'>
                                Filtrar por Status:
                                <input class='form-control' [(ngModel)]='filterQuery' />
                            </th>
                        </tr>
                        <tr>
                            <th style='width: 20%'></th>
                            <th style='width: 10%'>
                                <mfDefaultSorter by='licencia'>Licencia</mfDefaultSorter>
                            </th>
                            <th style='width: 10%'>
                                <mfDefaultSorter by='fianza'>Fianza</mfDefaultSorter>
                            </th>
                            <th style='width: 10%'>
                                <mfDefaultSorter by='status'>Status</mfDefaultSorter>
                            </th>
                            <th style='width: 10%'>
                                <mfDefaultSorter by='persona_chofer'>Chofer</mfDefaultSorter>
                            </th>
                            <th style='width: 10%'>
                                <mfDefaultSorter by='persona_aval1'>Aval 1</mfDefaultSorter>
                            </th>
                            <th style='width: 10%'>
                                <mfDefaultSorter by='persona_aval2'>Aval 2</mfDefaultSorter>
                            </th>
                            <th style='width: 10%'>
                                <mfDefaultSorter by='persona_aval3'>Aval 3</mfDefaultSorter>
                            </th>
                            <th style='width: 10%'>
                                <mfDefaultSorter by='persona_aval4'>Aval 4</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.licencia  }}</td>
                            <td>{{ item.fianza  }}</td>
                            <td>{{ item.status  }}</td>
                            <td>{{ item.persona_chofer }}</td>
                            <td>{{ item.persona_aval1 }}</td>
                            <td>{{ item.persona_aval2 }}</td>
                            <td>{{ item.persona_aval3 }}</td>
                            <td>{{ item.persona_aval4 }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
