<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Ordenes</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Ordenes">
            <div class="form-group row" [ngClass]="{'has-error': (!fechaAC.valid && fechaAC.touched), 'has-success': (fechaAC.valid && fechaAC.touched)}">
              <label for="inputfechaAC" class="col-sm-3 form-control-label">Fecha</label>
              <div class="col-sm-9">
                <input [(ngModel)]="fecha" [formControl]="fechaAC" type="date"  class="form-control" id="inputfechaAC" placeholder="Fecha" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!manoObraAC.valid && manoObraAC.touched), 'has-success': (manoObraAC.valid && manoObraAC.touched)}">
              <label for="inputmanoObraAC" class="col-sm-3 form-control-label">Mano de Obra</label>
              <div class="col-sm-9">
                <input [(ngModel)]="manoObra" [formControl]="manoObraAC" type="number" maxlength='11' class="form-control" id="inputmanoObraAC" placeholder="Mano de Obra" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!subtotalAC.valid && subtotalAC.touched), 'has-success': (subtotalAC.valid && subtotalAC.touched)}">
              <label for="inputsubtotalAC" class="col-sm-3 form-control-label">Subtotal</label>
              <div class="col-sm-9">
                <input [(ngModel)]="subtotal" [formControl]="subtotalAC" type="number" maxlength='11' class="form-control" id="inputsubtotalAC" placeholder="Subtotal" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!totalAC.valid && totalAC.touched), 'has-success': (totalAC.valid && totalAC.touched)}">
              <label for="inputtotalAC" class="col-sm-3 form-control-label">Total</label>
              <div class="col-sm-9">
                <input [(ngModel)]="total" [formControl]="totalAC" type="number" maxlength='11' class="form-control" id="inputtotalAC" placeholder="Total" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!anticipoAC.valid && anticipoAC.touched), 'has-success': (anticipoAC.valid && anticipoAC.touched)}">
              <label for="inputanticipoAC" class="col-sm-3 form-control-label">Anticipo</label>
              <div class="col-sm-9">
                <input [(ngModel)]="anticipo" [formControl]="anticipoAC" type="number" maxlength='11' class="form-control" id="inputanticipoAC" placeholder="Anticipo" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!statusAC.valid && statusAC.touched), 'has-success': (statusAC.valid && statusAC.touched)}">
              <label for="inputstatusAC" class="col-sm-3 form-control-label">Status</label>
              <div class="col-sm-9">
                <input [(ngModel)]="status" [formControl]="statusAC" type="text" maxlength='25' class="form-control" id="inputstatusAC" placeholder="Status" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!descripcionAC.valid && descripcionAC.touched), 'has-success': (descripcionAC.valid && descripcionAC.touched)}">
              <label for="inputdescripcionAC" class="col-sm-3 form-control-label">Descripción</label>
              <div class="col-sm-9">
                <input [(ngModel)]="descripcion" [formControl]="descripcionAC" type="text" maxlength='200' class="form-control" id="inputdescripcionAC" placeholder="Descripción" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!vehiculoreparando_idvehiculoreparandoAC.valid && vehiculoreparando_idvehiculoreparandoAC.touched), 'has-success': (vehiculoreparando_idvehiculoreparandoAC.valid && vehiculoreparando_idvehiculoreparandoAC.touched)}">
              <label for="inputvehiculoreparando_idvehiculoreparandoAC" class="col-sm-3 form-control-label">Vehículo Reparando</label>
              <div class="col-sm-7">
               <select [(ngModel)]="vehiculoreparando_idvehiculoreparando" [formControl]="vehiculoreparando_idvehiculoreparandoAC" class="form-control" id="inputvehiculoreparando_idvehiculoreparandoAC" required>
                 <option value="{{item.idvehiculoreparando}}" *ngFor="let item of _vehiculoreparando">{{item.motivo}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='vehiculoreparandoAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
