<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Mecánicos</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Mecánicos">
            <div class="form-group row" [ngClass]="{'has-error': (!persona_idpersonaAC.valid && persona_idpersonaAC.touched), 'has-success': (persona_idpersonaAC.valid && persona_idpersonaAC.touched)}">
              <label for="inputpersona_idpersonaAC" class="col-sm-3 form-control-label">Persona</label>
              <div class="col-sm-7">
               <select [(ngModel)]="persona_idpersona" [formControl]="persona_idpersonaAC" class="form-control" id="inputpersona_idpersonaAC" required>
                 <option value="{{item.idpersona}}" *ngFor="let item of _persona">{{item.nombre}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='personaAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!taller_idtallerAC.valid && taller_idtallerAC.touched), 'has-success': (taller_idtallerAC.valid && taller_idtallerAC.touched)}">
              <label for="inputtaller_idtallerAC" class="col-sm-3 form-control-label">Taller</label>
              <div class="col-sm-7">
               <select [(ngModel)]="taller_idtaller" [formControl]="taller_idtallerAC" class="form-control" id="inputtaller_idtallerAC" required>
                 <option value="{{item.idtaller}}" *ngFor="let item of _taller">{{item.nombre}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='tallerAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
