<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data | permisotaxisDataFilter : filterQuery' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th colspan='8' class='text-left'>
                                Filtrar por Número:
                                <input class='form-control' [(ngModel)]='filterQuery' />
                            </th>
                        </tr>
                        <tr>
                            <th style='width: 20%'></th>
                            <th style='width: 11.428571428571%'>
                                <mfDefaultSorter by='numero'>Número</mfDefaultSorter>
                            </th>
                            <th style='width: 11.428571428571%'>
                                <mfDefaultSorter by='status'>Status</mfDefaultSorter>
                            </th>
                            <th style='width: 11.428571428571%'>
                                <mfDefaultSorter by='fechaAlta'>Fecha Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 11.428571428571%'>
                                <mfDefaultSorter by='vigencia'>Vigencia</mfDefaultSorter>
                            </th>
                            <th style='width: 11.428571428571%'>
                                <mfDefaultSorter by='liquidez'>Liquidez</mfDefaultSorter>
                            </th>
                            <th style='width: 11.428571428571%'>
                                <mfDefaultSorter by='liquidezDom'>Liquidez Domingo</mfDefaultSorter>
                            </th>
                            <th style='width: 11.428571428571%'>
                                <mfDefaultSorter by='persona_propietario'>Propietario</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.numero  }}</td>
                            <td>{{ item.status  }}</td>
                            <td>{{ item.fechaAlta | date:'dd/MM/y' }}</td>
                            <td>{{ item.vigencia | date:'dd/MM/y' }}</td>
                            <td>{{ item.liquidez  }}</td>
                            <td>{{ item.liquidezDom  }}</td>
                            <td>{{ item.persona_propietario }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
